:root {
    --primary-color: #065A82;
    --secondary-color: #FFFFFF;
    --accent-color: #333333;
    --light-gray: #F4F4F4;
    --font-main: 'Lato', Arial, sans-serif;
}

body {
    font-family: var(--font-main);
    color: var(--accent-color);
    background-color: var(--secondary-color);
}

header, nav {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    text-align: center;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 10px;
    padding: 1rem;
}

.nav a {
    color: var(--secondary-color);
    text-decoration: none;
    font-weight: 400;
}

.nav a:hover {
    text-decoration: underline;
}

section {
    background-color: var(--light-gray);
    padding: 1rem;
    margin-bottom: 1rem;
}

footer {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    text-align: center;
}