/* BODY */
body {
   font-family: "Lato", sans-serif;
   font-weight: 400;
}
h1 {
    font-weight: 400;
}

/* HEADER */
header {
    background-color: #005fa3;
    color: #ffffff;
    margin: 0 auto;
    
}

#course-title {
    color: #ffffff;
}

.title-bar {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* NAV */
nav {
    background-color: #000;
    color: #ffffff;
    margin: 0 auto;
}

nav ul {
    list-style: none;
}

nav a {
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
}

nav a:hover {
    text-decoration: overline;
}

.active {
    color: yellowgreen;
}

/* MAIN */
main {
    max-width: 1000px;
    margin: 2rem auto;
    padding: 0 1rem;

    display: grid;
    /*grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));*/
    grid-template-columns: 2fr 1fr;
    gap: 1.5rem;
}

main h1 {
    grid-column: 1 / -1;
    text-align: center;
    font-family: "Lato", sans-serif;
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

/* CARD */
.card {
    border: 1px solid darkgray;
    background-color: #fff;
    text-align: center;
    border-radius: 6px;
}

.card h2 {
   background-color: #005fa3;
    color: #ffffff;
    padding: 1rem;
    margin: 0;
    font-family: "Lato", sans-serif;
    font-size: 1rem;
    text-align: center;
}


/* ABOUT */
.about-content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
    align-items: center;
    padding: 1rem;
}

.about-text {
    text-align: left;
}

.about-content img {
    max-width: 100%;
    height: auto;
    border-radius: 6px;
    border: 1px solid darkgray;
}

/* NIGERIA HEADING */
.card h2.nigeria {
    background: none;
    color: black;
    font-weight: 400;
    text-align: center;
}

.nigeria {
    display: inline-block;
    border-bottom: 1px solid black;
    padding-bottom: 0.15rem;
    margin: 0 auto;
    
}
.nigeria-content {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1rem;
    align-items: center;
    padding: 1rem;
}

.nigeria-text {
    text-align: left;
}

.nigeria-content img {
    max-width: 100%;
    height: auto;
    border-radius: 6px;
    border: 1px solid darkgray;
}

/* FOOTER */
footer {
    background-color: #005fa3;
    color: #ffffff;
    margin: 0 auto;
    text-align: center;
}

footer p {
    display: block;
    margin: 0.25rem 0;
    color: #ffffff;
}

.highlight {
	font-weight: normal;
     color: yellowgreen;
}

/* RESPONSIVE */
@media (min-width: 640px) {
    nav ul {
        display: flex;
        /*justify-content: space-around;*/
    }

    nav ul li {
        flex: 1 1 100%;
    }
}
