/* LARGE SCREENS */
@media (min-width: 740px) {

    header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    
    #hambutton { 
        display: none;
    }
    
    #navmenu ul { 
        display: flex; 
        flex-direction: row;
        width: auto;
        padding: 0;
    }
    
    #navmenu a {
        padding: 0.5rem 1rem; 
    }
    
    .container {
        grid-template-columns: repeat(3, 1fr);
    }
}