/* LARGE SCREENS */
@media (min-width: 740px) {
    #hambutton {
        display: none;
    }

    #navmenu {
        display: flex;
        flex-direction: row;
    }

    #navmenu a {
        padding: 0.5rem 1rem;
    }

    .container {
        grid-template-columns: repeat(3, 1fr);
    }
}