@media (min-width: 768px) {

    main {
        max-width: 700px;
        margin: 3rem auto;
        padding: 2rem;
    }

    .rating-grid {
        flex-direction: row;
        justify-content: space-between;
    }

    .rating-item {
        flex: 1;
    }
}